<template>
  <div class="card" @click="changeRouter(movieInfo.id)">
    <h1>Movie</h1>
    <div class="image"></div>
    <div class="flex column justify-center align-center">
      <div>Title: {{ movieInfo.title }}</div>
      <div>Date: {{ movieInfo.year }}</div>
    </div>
  </div>
</template>
<script>
export default {
  name: "Card",
  props: {
    movieCard: {
      type: Object,
      default: () => ({
        title: "",
        year: "",
        id: "",
        image: "",
      }),
      require: true,
    },
  },
  data() {
    return {
      movieInfo: {},
    };
  },
  watch: {
    movieCard(val) {
      this.movieInfo = val;
    },
  },
  created() {
    this.movieInfo = this.movieCard;
  },
  methods: {
    changeRouter(url) {
      // console.log("url", url);
      // console.log("asdfasdf", this.$route);
      this.$router.push(`/detail/${url}`);
    },
  },
};
</script>

// watch types; // 1 normal , // 2 old val new Val , // 3 object ko single , //
// 4 deep , // 5 handlers, 6 immediate // 3 // =>>>> movieCard Obj ko only one
// value li watch =>
