<template>
  <div>
    <div>Total movies {{ totoalMov }}</div>
    <div v-for="(movie, key) in movieList" :key="key">
      <div>name : {{ movie.title_english }}</div>
      <div>date : {{ movie.year }}</div>
    </div>

    <button @click="curentPage++">Next Page</button>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "Home",
  data() {
    return {
      movieList: [],
      totoalMov: 0,
      curentPage: 1,
      newData: {
        name: {
          data: {}
        },
        adsfadsf: "",
        asdf: ""
      }
    };
  },
  created() {
    this.getallAPI();
  },
  watch: {
    "newData.name"() {
      console.log("Test");
    },
    curentPage() {
      this.changePage();
    }
  },
  methods: {
    getallAPI() {
      try {
        axios
          .get("https://yts.mx/api/v2/list_movies.json")
          .then(res => {
            console.log(res.data);
            this.movieList = res.data.data.movies;
            this.totoalMov = res.data.data.limit;
          })
          .catch(e => console.error(e));
      } catch (e) {
        console.error("Error>>>>", e);
      }
    },
    changePage() {
      try {
        this.movieList = [];
        axios
          .get(`https://yts.mx/api/v2/list_movies.json?page=${this.curentPage}`)
          .then(res => {
            console.log(res.data);
            this.movieList = res.data.data.movies;
            this.totoalMov = res.data.data.limit;
          })
          .catch(e => console.error(e));
      } catch (e) {
        console.error("Error>>>>", e);
      }
    }
  }
};
</script>

<style></style>
