<template>
  <div class="home">
    <h1>search page</h1>
    <h3>
      {{ storeValue }}
    </h3>
    {{ changes }}
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
export default {
  name: "Search",
  data() {
    return {
      changes: "Hello changes",
      storeValue: "chekval"
    };
  },
  watch: {
    "$store.state.test"() {
      this.changes = this.$store.state.test;
    },
    storeValue(newVal, oldVal) {
      console.log(">>>>", newVal, oldVal);
    }
  },
  computed: {
    ...mapState("search", ["newModule"])
  },
  created() {
    console.log(this.newModule);
    this.callFromNewModule();
    this.storeValue = this.$store.state.newTest;
    this.changeAction();
  },
  methods: {
    ...mapActions("search", ["callFromNewModule"]),
    changeAction() {
      this.$store.dispatch("pullnewData", [1, 3, "", 4, 5]);
    },
    getStateData() {
      let dataFromState = this.$store.state.test;
      console.log(dataFromState);
    }
  }
};
</script>
<style lang="scss">
.home {
  background-color: red;
}
</style>
