<template>
  <div>
    <div v-for="(data, key) in movies" :key="key">
      <card :movieCard="data" />
    </div>
  </div>
</template>
<script>
import axios from "axios";
import card from "../components/common/card.vue";
export default {
  components: { card },
  name: "Home",
  data() {
    return {
      movies: [],
    };
  },
  // watch: {
  //   // movies(val) {
  //   //   // this.movies = val;
  //   // },
  // },
  async created() {
    await this.getAllMovies();
  },
  methods: {
    async getAllMovies() {
      try {
        const res = await axios.get("https://yts.mx/api/v2/list_movies.json");
        if (!res) throw res;

        this.movies =
          res.data?.data?.movies?.map(
            ({ title_english, year, id, background_image }) => ({
              title: title_english,
              year,
              id,
              image: background_image,
            })
          ) ?? [];
        console.log(this.movies);
      } catch (error) {
        console.error(
          "Error in from ",
          error ?? "Could not get data in getMovies"
        );
      }
    },
  },
};
</script>

<style></style>

// || // && // true false null 0 undefined // ?? // undefined
