<template>
  <div>
    <h1>Details page</h1>
    <img :src="movieDetails.background_image" alt="img" />
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "MovieDetail",
  data() {
    return {
      movieDetails: {},
    };
  },
  async created() {
    await this.getMovieDetails();
  },
  computed: {
    routerId() {
      return this.$route.params.id;
    },
  },
  methods: {
    async getMovieDetails() {
      const res = await axios.get(
        `https://yts.mx/api/v2/movie_details.json?movie_id=${this.routerId}`
      );
      this.movieDetails = res?.data?.data?.movie ?? {};
    },
  },
};
</script>

<style></style>
