<template>
  <div>
    <nav>
      <div>Logo</div>
      <div @click="changeRouter('/')">Home</div>
      <div @click="changeRouter('/search')">
        search <input type="text" v-model="search" />
      </div>
    </nav>
    <main>
      <router-view />
    </main>
    <footer>
      This is footer
    </footer>
  </div>
</template>

<script>
export default {
  name: "Layout",
  data() {
    return {
      search: ""
    };
  },
  computed: {
    routerPath() {
      return this.$route.path;
    }
  },
  methods: {
    changeRouter(routerLink) {
      if (this.routerPath !== routerLink) this.$router.push(routerLink);
    }
  }
};
</script>

<style></style>
