<template>
  <div>
    <Nav />

    <router-view />

    <Footer />
  </div>
</template>

<script>
import Footer from "./component/Footer.vue";
import Nav from "./component/Nav.vue";
export default {
  components: { Nav, Footer },
  name: "Layout",
};
</script>

<style></style>
