<template>
  <div class="flex row justify-between">
    <div><Logo /></div>
    <div>
      <div
        v-for="(nav, key) in navItems"
        :key="key"
        class="flex row padding margin"
      >
        <div @click="routerChange(nav.routeName)">{{ nav.label }}</div>
      </div>
    </div>
  </div>
</template>

<script>
import Logo from "./Logo.vue";
export default {
  name: "Nav",
  components: { Logo },
  props: {},
  data() {
    return {
      navItems: [
        {
          routeName: "/",
          label: "Home",
        },
        {
          routeName: "/about",
          label: "About",
        },
      ],
    };
  },
  watch: {},
  computed: {
    getCurrentRouter() {
      return this.$route.path;
    },
  },
  created() {},
  methods: {
    routerChange(routerName) {
      if (routerName === this.getCurrentRouter) return;
      this.$router.push(routerName);
    },
  },
};
</script>

<style>
.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.padding {
  padding: 1rem;
}
.margin {
  margin: 1rem;
}
</style>
