<template>
  <div id="app">
    <Layout />
  </div>
</template>

<script>
import Layout from "./Layout/Layout.vue";
export default {
  components: { Layout },
  name: "App",
};
</script>

<style></style>
